<IfModule dir_module>
    DirectoryIndex index.php index.html
</IfModule>
AddDefaultCharset UTF-8
AddCharset UTF-8 .html
<FilesMatch "\.(html)$">
   Header set Cache-Control: "no-cache, no-store"
   Header unset ETag
</FilesMatch>
Header set X-Content-Type-Options nosniff

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^/admin/api/
RewriteRule ^admin/api/(.*) /admin/api/index.php?q=$1 [L,QSA]

RewriteCond %{REQUEST_URI} !^/admin/api/
RewriteRule ^(.*)\/$ %{REQUEST_URI}/index.php [L]